.app-wrapper {
  display: grid;

  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: #a9ccac;
}

.header img {
  height: 100%;
  background-repeat: repeat;
}

.nav {
  grid-area: n;
  background-color: #a9ccac;
}

.content {
  grid-area: c;
  background-color: #dcc8ad;
}

.content img {
  width: 100%;
}