.dialogs {
    /*width: 100%;*/
    display: grid;

    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogItems {
    background-color: #3f3f3f;
}

.messages {
    background-color: #100f0f;
    color: white;
}

